<!--
    Title: new-Ejs 
    Author: Professor Krasso
    Modified by: Saw Phaung
    Date: Feb 25, 2022
-->
<!DOCTYPE html>
<html lang="en">
<%- include('header'); -%>

    <body>
        <!-- Navbar -->
        <%- include('navbar'); -%>

            <main class="secondary">

                <section class="inner-wrap">
                    <h1>
                        <%= message %>
                    </h1>

                    <form class="newEmployee-form" method="post" action="/process">
                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                            <input id="FirstName" type="text">
                        </div>

                        <div class="form-group">
                            <label for="LastName">Last Name</label>
                            <input id="LastName" type="text">
                        </div>

                        <div class="form-button">
                            <button type="submit">Submit</button>
                        </div>

                        <!-- CSRF token -->
                        <input name="_csrf" value="<%= csrfToken %>" type="hidden">
                    </form>

                </section>
            </main>



            <!-- Footer -->
            <%- include('footer'); -%>


                <!-- Script  -->
                <% - include('scripts'); -%>


    </body>

</html>
